.hands {
    background-image: url("../files/image/hands4.png");
    background-repeat: no-repeat;
    background-position: 298px 189px;
    height: 695px;
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
}